@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    outline: solid;
  } */
  
  html, body {
    color: white;
    overflow-x: hidden;
  }

  .homepage_bg {
    background: url("../src/assets/Images/Geometric.png");
}